.about{
  width: 70vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: $main-font;
  margin-top: 10rem;
  margin-left: 15%;

  h2{
    align-self: center;
    font-size: 4rem;
    font-weight: normal;
    color: white;
    text-shadow: 0 0 10px white;
    margin-bottom: 1rem;
  }

  p{
    font-family: $primary-font;
    line-height: 1.7;
    color: white;
    width: 500px;

    span{
      padding: 4px;
      background: $gradient;
      border-radius: 4px;
    }
  }
  .two{
    align-self: flex-end;
    margin-bottom: 3rem;
  }
}

.divider{
  align-self: center;
  height: 4px;
  width: 70vw;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 3rem;
}

.world{
  width: 70vw;
  height: 30vh;
  background-position: center;
  object-fit: cover;
  object-position: top;
  background-repeat: no-repeat;
  align-self: center;
  margin-bottom: 3rem;
  border-radius: 6px;
}