$bg-image-cover: no-repeat center/cover;
$label-color: #90BCCEFF;
$main-font: 'Della Respira', serif;
$primary-font: 'Exo 2', sans-serif;
$gradient: linear-gradient(to left, rgb(144, 188, 206), rgba(203, 175, 134, 0.41));