//Creating mixins
@mixin button-styles{
  background: #141414;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  width: 140px;
  border-radius: 100px;
  cursor: pointer;
}

@mixin card-basic-styles{
  width: 300px;
  padding: 20px;
  background: linear-gradient(to bottom, #ec4bd2, #eb4bd05d);
  border-radius: 10px;
  color: white;
}

@mixin card-content-styles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  height: 20rem;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardOne{
  @include card-basic-styles;
  margin: 10px;
}

.cardTwo{
  @include card-basic-styles;
  margin: 10px;
  background: linear-gradient(to bottom, #2cdb60, #69c5085d);
}

.cardThree{
  @include card-basic-styles;
  margin: 10px;
  background: linear-gradient(to bottom, #060da35d, #4ba1ec);
}

.cardContent {
  @include card-content-styles;

  .price {
    font-size: 3rem;

    span {
      font-size: 1.4rem;
    }

    .cardName {
      font-size: 2rem;
    }

    .cardInfo {
      font-size: 14px;
      padding: 0 20px;
      line-height: 1.4;
    }
  }
  button {
  @include button-styles;
  }
}




